spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "niri-float-sticky && niri-float-sticky -ipc set_sticky"
spawn-sh-at-startup "journalctl-desktop-notification"

spawn-sh-at-startup "easyeffects --gapplication-service"
spawn-sh-at-startup "warp-cli connect"
spawn-sh-at-startup "sleep 3; amixer -c2 set Master 100% unmute"

spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme prefer-dark"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface cursor-theme Bibata-Modern-Classic"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface cursor-size 20"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme Orchis-Dark"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface icon-theme Papirus-Dark"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface text-scaling-factor 1"
