// Links:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings
// https://docs.noctalia.dev/getting-started/keybinds/
//
binds {
    // -----------------------------------------------
    // #"System & Meta"
    Mod+Escape    cooldown-ms=100 { toggle-overview; }
    Mod+ALT+L     repeat=false cooldown-ms=250 hotkey-overlay-title="Lock Screen"  { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    Mod+Delete    repeat=false cooldown-ms=250 hotkey-overlay-title="Session Menu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
    Mod+F1        repeat=false cooldown-ms=250 hotkey-overlay-title="Keybind Cheatsheet" { spawn-sh "qs -c noctalia-shell ipc call plugin:keybind-cheatsheet toggle"; }

    // Screenshots
    Mod+Shift+S   repeat=false cooldown-ms=250 hotkey-overlay-title="Screenshot" { spawn "~/.config/niri/scripts/screenshot"; }
    Print         repeat=false cooldown-ms=250 hotkey-overlay-title="Screenshot" { spawn "~/.config/niri/scripts/screenshot"; }
    Ctrl+Print    repeat=false cooldown-ms=250 hotkey-overlay-title="SCREENshot" { spawn-sh "~/.config/niri/scripts/screenshot screen"; }
    Alt+Print     repeat=false cooldown-ms=250 hotkey-overlay-title="WINDOWshot" { spawn-sh "~/.config/niri/scripts/screenshot window"; }

    // Media Controls
    XF86AudioRaiseVolume    allow-when-locked=true hotkey-overlay-title="Volume Increase"   { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume    allow-when-locked=true hotkey-overlay-title="Volume Decrease"   { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute           allow-when-locked=true hotkey-overlay-title="Volume Mute Output" { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute        allow-when-locked=true hotkey-overlay-title="Volume Mute Input"  { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext           allow-when-locked=true hotkey-overlay-title="Media Next"        { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev           allow-when-locked=true hotkey-overlay-title="Media Previous"   { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioPlay           allow-when-locked=true hotkey-overlay-title="Media Play/Pause" { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause          allow-when-locked=true hotkey-overlay-title="Media Play/Pause" { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    // Brightness Controls
    XF86MonBrightnessUp     allow-when-locked=true hotkey-overlay-title="Brightness Increase" { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown   allow-when-locked=true hotkey-overlay-title="Brightness Decrease" { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

    // -----------------------------------------------
    // #"Applications"
    Mod+Return          repeat=false cooldown-ms=250 hotkey-overlay-title="Terminal"      { spawn-sh "$TERMINAL"; }
    Ctrl+Shift+Escape   repeat=false cooldown-ms=250 hotkey-overlay-title="Task Manager"  { spawn-sh "$TERMINAL -e btop"; }
    Mod+D               repeat=false cooldown-ms=250 hotkey-overlay-title="Launcher"      { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+W               repeat=false cooldown-ms=250 hotkey-overlay-title="Browser"       { spawn-sh "xdg-open https://"; }
    Mod+E               repeat=false cooldown-ms=250 hotkey-overlay-title="File Manager"  { spawn-sh "xdg-open ~"; }
    Mod+V               repeat=false cooldown-ms=250 hotkey-overlay-title="Clipboard"     { spawn-sh "qs -c noctalia-shell ipc call launcher clipboard"; }
    Mod+Period          repeat=false cooldown-ms=250 hotkey-overlay-title="Emoji Picker"  { spawn-sh "qs -c noctalia-shell ipc call launcher emoji"; }
    Mod+Shift+Period    repeat=false cooldown-ms=250 hotkey-overlay-title="Kaomoji Picker"  { spawn-sh "qs -c noctalia-shell ipc call plugin:kaomoji toggle"; }
    Mod+Comma           repeat=false cooldown-ms=250 hotkey-overlay-title="Wallpaper Picker"  { spawn-sh "qs -c noctalia-shell ipc call plugin:wallcards toggle"; }
    Mod+Shift+c         repeat=false cooldown-ms=250 hotkey-overlay-title="Color Picker"  { spawn-sh "niri msg pick-color | wl-copy"; }


    // -----------------------------------------------
    // #"Window"
    Mod+Q        { close-window; }
    Mod+Shift+Q  { spawn-sh "kill -9 $(niri msg -j focused-window | jq '.pid')"; }
    Mod+Left     { focus-column-left; }
    Mod+H        { focus-column-left; }
    Mod+Right    { focus-column-right; }
    Mod+L        { focus-column-right; }
    Mod+Up       { focus-window-or-workspace-up; }
    Mod+K        { focus-window-or-workspace-up; }
    Mod+Down     { focus-window-or-workspace-down; }
    Mod+J        { focus-window-or-workspace-down; }
    Mod+Home     { focus-column-first; }
    Mod+End      { focus-column-last; }

    Mod+Shift+Left   { move-column-left; }
    Mod+Shift+H      { move-column-left; }
    Mod+Shift+Right  { move-column-right; }
    Mod+Shift+L      { move-column-right; }
    Mod+Shift+UP     { move-window-up-or-to-workspace-up; }
    Mod+Shift+K      { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down   { move-window-down-or-to-workspace-down; }
    Mod+Shift+J      { move-window-down-or-to-workspace-down; }
    Mod+CTRL+Home    { move-column-to-first; }
    Mod+CTRL+End     { move-column-to-last; }

    Mod+Ctrl+P    cooldown-ms=250 hotkey-overlay-title="Toggle Pin" { spawn-sh "niri-float-sticky -ipc toggle_sticky"; }

    // -----------------------------------------------
    // #"Workspaces"
    Mod+TAB  cooldown-ms=150 { focus-workspace-previous; }
    Mod+1    cooldown-ms=150 { focus-workspace 1; }
    Mod+2    cooldown-ms=150 { focus-workspace 2; }
    Mod+3    cooldown-ms=150 { focus-workspace 3; }
    Mod+4    cooldown-ms=150 { focus-workspace 4; }
    Mod+5    cooldown-ms=150 { focus-workspace 5; }
    Mod+6    cooldown-ms=150 { focus-workspace 6; }
    Mod+7    cooldown-ms=150 { focus-workspace 7; }
    Mod+8    cooldown-ms=150 { focus-workspace 8; }
    Mod+9    cooldown-ms=150 { focus-workspace 9; }

    // Main Workspaces
    Mod+U   cooldown-ms=150 { focus-workspace "Web"; }
    Mod+I   cooldown-ms=150 { focus-workspace "Dev"; }
    Mod+O   cooldown-ms=150 { focus-workspace "Comm"; }
    Mod+P   cooldown-ms=150 { focus-workspace "Misc"; }
    Mod+Shift+U   cooldown-ms=150 { move-window-to-workspace "Web"; }
    Mod+Shift+I   cooldown-ms=150 { move-window-to-workspace "Dev"; }
    Mod+Shift+O   cooldown-ms=150 { move-window-to-workspace "Comm"; }
    Mod+Shift+P   cooldown-ms=150 { move-window-to-workspace "Misc"; }

    // -----------------------------------------------
    // #"Layout"
    Mod+F             { maximize-window-to-edges; }
    Mod+Space         { toggle-window-floating; }
    Mod+B             { toggle-column-tabbed-display; }
    Mod+Shift+F       { maximize-column; }
    Mod+CTRL+F        { expand-column-to-available-width; }
    Mod+Ctrl+Space    { switch-preset-column-width; }
    Mod+Shift+0       { switch-preset-column-width-back; }
    Mod+C             { center-column; }
    Mod+CTRL+C        { center-visible-columns; }

    Mod+Minus         { set-column-width "-10%"; }
    Mod+Equal         { set-column-width "+10%"; }
    Mod+Shift+Minus   { set-window-height "-10%"; }
    Mod+Shift+Equal   { set-window-height "+10%"; }

    Mod+Alt+P   repeat=false hotkey-overlay-title="To PIP" { spawn "~/.config/niri/scripts/win-to-pip"; }
}
