layout {
    gaps 24
    always-center-single-column
    struts { left 0; right 0; bottom 0; top 0; }

    background-color "transparent" // for noctalia background

    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.8
        proportion 0.95
    }

    border { off; }
    focus-ring {
        on
        width 2
    }

    shadow {
        on
        draw-behind-window false
        softness 40
        spread 5
        offset x=0 y=5
    }

    tab-indicator {
        position "left"
        place-within-column
    }
}
