prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 10000
}

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup
}

overview {
    workspace-shadow {
        on
    }
}

recent-windows {
    on
    debounce-ms 750
    open-delay-ms 200

    highlight {
        active-color "#3c3c3c99"
        urgent-color "#f9556180"
        padding 12
        corner-radius 8
    }

    previews {
        max-height 480
        max-scale 0.5
    }
}
