layout {
    focus-ring {
        active-color   "#68dbb0"
        inactive-color "#111412"
        urgent-color   "#ffb4ab"
        active-gradient from="#68dbb04d" to="#b3ccbf4d" angle=135
        urgent-gradient from="#ffb4ab80" to="#ffffff80" angle=135
    }

    border {
        active-color   "#68dbb0"
        inactive-color "#111412"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#68dbb0"
        inactive-color "#00513b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#68dbb080"
    }
}

recent-windows {
    highlight {
        active-color "#68dbb040"
        urgent-color "#ffb4ab80"
    }
}
