layout {
    focus-ring {
        active-color   "#ffb4aa"
        inactive-color "#181211"
        urgent-color   "#ffb4ab"
        active-gradient from="#ffb4aa4d" to="#e7bdb74d" angle=135
        urgent-gradient from="#ffb4ab80" to="#ffffff80" angle=135
    }

    border {
        active-color   "#ffb4aa"
        inactive-color "#181211"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4aa"
        inactive-color "#7d2b24"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4aa80"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4aa40"
        urgent-color "#ffb4ab80"
    }
}
