workspace "Misc" {
    layout {
        gaps 30
        struts {
            left 14
            right 14
            bottom 14
            top 14
        }
    }
}
workspace "Browse" {
    layout {
        gaps 30
        struts {
            left 14
            right 14
            bottom 14
            top 14
        }
    }
}
workspace "Dev" {
    layout {
        gaps 1
        focus-ring { width 1; }
    }
}
