workspace "Web" {
    layout {
        gaps 24
        struts {
            left 14
            right 14
            bottom 14
            top 14
        }
    }
}
workspace "Dev" {
}
workspace "Comm" {
    layout {
        gaps 30
        struts {
            left 16
            right 16
            bottom 16
            top 16
        }
    }
}
workspace "Misc" {
}
