workspace "Misc" {
    layout {
        gaps 30
        struts {
            left 16
            right 16
            bottom 16
            top 16
        }
    }
}
workspace "Browse" {
    layout {
        gaps 30
        struts {
            left 16
            right 16
            bottom 16
            top 16
        }
    }
}
workspace "Dev" {
    layout {
        gaps 1
        focus-ring { width 1; }
    }
}
