[user]
    name = lopt
    email = lopt.loptr@proton.me

[core]
    autocrlf = false
    askpass = # disable credential manager
    pager = delta

[alias]
    br = branch
    a = add
    ap = add --patch
    c = commit
    cm = commit --message
    ca = commit --all --message
    co = checkout
    cob = checkout -b
    s = status --short --branch
    su = status --short --branch --untracked-files
    d = diff
    ds = diff --stat
    dc = diff --cached

    # show last modified branch
    b = "!refs=$1; git for-each-ref --sort=-committerdate refs/${refs:-heads} --format='%(HEAD) %(color:yellow)%(refname:short)|%(color:dim white)%(objectname:short)|%(color:bold green)%(committerdate:short) %(color:white)- %(color:bold green)%(committerdate:relative)|%(color:reset)%(color:italic dim white)%(authorname)|%(color:reset)%(color:blue)%(subject)%(color:reset)' --color=always | column -ts'|'"

    lg = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(italic dim white)- %an%C(reset)%C(auto)%d%C(reset)'

    # list aliases
    la = !git config -l | grep alias | cut -c 7-

[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[branch] # Avoid messy merge commits with autorebase
    autosetuprebase = always

[init]
    defaultBranch = main

[push] # Push the current branch by default
    autoSetupRemote = true
    default = current
[help] # Guess what you really meant
    autocorrect = 1
[advice] # Remove usage hints
    statusHints = false
[diff]
    tool = nvimdiff
    # instead of using a and b notation
    mnemonicprefix = true
[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[safe]
	directory = %(prefix)///wsl.localhost/Arch/home/rokumir/.cache/yay/omnisharp-roslyn/src/omnisharp-roslyn

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3
[pull]
	ff = only
