spawn-at-startup "noctalia"
spawn-sh-at-startup "sleep 2; noctalia msg caffeine-enable" // Keep Awake

spawn-sh-at-startup "walker --gapplication-service"
spawn-sh-at-startup "warp-cli connect"

spawn-sh-at-startup "~/.config/niri/scripts/default-settings"
