//= LAYERS ============================================================
// Noctalia Wallpaper
layer-rule {
    match namespace="^noctalia-wallpaper*"
    match namespace="^linux-wallpaperengine$"
    place-within-backdrop true
}
// Noctalia blurred backdrop
layer-rule {
    match namespace="^noctalia-backdrop*"
    place-within-backdrop true
}

//= WINDOWS ============================================================
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false

    min-width 355
    min-height 200

    background-effect { blur true; xray false; }
    popups {
        background-effect { blur true; }
    }
}

window-rule {
    match is-floating=false
    tiled-state true
}

/* Noctalia: floating settings window */
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

// Browsers
window-rule {
    match app-id="^([Ff]irefox|org.mozilla.firefox|[Ff]irefox-esr|[Ff]irefox-bin)$"
    match app-id="^([Gg]oogle-chrome(-beta|-dev|-unstable)?)$"
    match app-id="^(chrome-.+-Default)$"
    match app-id="^([Cc]hromium)$"
    match app-id="^([Mm]icrosoft-edge(-stable|-beta|-dev|-unstable))$"
    match app-id="^(Brave-browser(-beta|-dev|-unstable)?)$"
    match app-id="^([Tt]horium-browser|[Cc]achy-browser)$"
    match app-id="^(zen-alpha|zen)$"
    match app-id="^([Hh]elium)$"
    exclude title="Picture(-| )in(-| )[Pp]icture"
    exclude title="^()$"

    open-maximized-to-edges true
    default-column-width { proportion 0.8; };
}

// Zen Browser's Boost
window-rule {
    match app-id="zen" title="^()$"
    geometry-corner-radius 16
    open-floating true
}

// Picture-in-Pictures (PIP)
window-rule {
    match title="Picture(-| )in(-| )[Pp]icture"
    match title="Locked up silly corner"

    open-maximized-to-edges false  // disable from the browsers' rule
    open-floating true
    open-focused false
    default-column-width { fixed 355; };
    default-window-height { fixed 200; };

    default-floating-position x=10 y=10 relative-to="bottom-left"
}

// Wide apps
window-rule {
    match app-id="Alacritty|kitty|kitty-dropterm|com.mitchellh.ghostty"
    match title=".*(Discord).*" app-id="discord|vesktop"

    default-column-width { proportion 0.8; };
}

// Terminal
window-rule {
    match app-id="Alacritty|kitty|kitty-dropterm|com.mitchellh.ghostty"
    variable-refresh-rate true
}

// Popups
window-rule {
    match title="Authentication Required"
    match title="Add Folder to Workspace"
    match title="Save As"
    match title="(Open Files)"
    match title="SDDM Background"
    match app-id="yad"
    match app-id="hyprland-donate-screen"

    open-floating true
    default-window-height { proportion 0.4; }
    default-column-width { proportion 0.6; }
}

// Oklch Color Picker Popup
window-rule {
    match title="Oklch Color Picker"

    open-floating true
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.4; }
}
// Color Picker Popup
window-rule {
    match title="^Choose a color$"
    open-floating true
    default-window-height { }
    default-column-width { }
}

// Dialogs window rule
window-rule {
    match app-id="confirm|pavucontrol|blueman|nm-connection-editor|org.gnome.PowerStats"
    match app-id="cpupower|rog-control-center|jamesdsp|Hello|xdg-desktop-portal-gtk"
    match app-id="ghostty_journalctl|system-config-printer|brave-keep"
    match title=r#".*Extension.*Bitwarden.*"#

    open-floating true
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.45; }
}

// Thunar copy progress dialog
window-rule {
    match title="^(File Operation Progress)$"
    match app-id="thunar"

    open-floating true
    default-window-height { proportion 0.18; }
    default-column-width { proportion 0.26; }
}

// Spotify
window-rule {
    match title=".*(Spotify).*"
    match app-id="spotify"
    match app-id="YouTube Music for Desktop"
    default-column-width { proportion 0.8; }
}

// Steam
window-rule {
    match app-id="steam" title="^(Steam).*"
    default-column-width { proportion 0.75; }
}
// Steam Friend List
window-rule {
    match app-id="steam" title="^(Friends List)$"
    default-column-width { proportion 0.1; }
}
// Steam Settings
window-rule {
    match app-id="steam" title="^(Steam Settings)$"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.6; }
}
// Steam Notification Toasts
window-rule {
    match app-id="steam" title="^(notificationtoasts).*"
    open-floating true
    open-focused false
    default-floating-position x=5 y=5 relative-to="bottom-right"
}
// Steam update window
window-rule {
    match title="^()$"
    open-floating true
    open-focused false
}
// Steam update window
window-rule {
    match title="^(FarFarWest)$"
    open-maximized true
}
window-rule {
    match app-id="^(steam_app_).*"
    variable-refresh-rate true
}

// Screenshot
window-rule {
    match app-id="com.gabm.satty"
    open-floating true
    default-column-width { proportion 0.65; }
    default-window-height { proportion 0.7; }
}
window-rule {
    match app-id="satty" title="Save Image As"
    open-floating true
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.6; }
}

// File Explorer
window-rule {
    match app-id="nemo|org.gnome.Nautilus"
    default-column-width { proportion 0.65; }
}
