include "core/env.kdl"
include "core/rules.kdl"
include "core/layouts.kdl"
include "core/animation.kdl"
include "core/autostart.kdl"
include "core/keybinds.kdl"
include "core/input.kdl"
include "core/display.kdl"
include "core/misc.kdl"

include optional=true "lib/theme.kdl"
include optional=true "lib/performance-mode.kdl"
