layout {

    focus-ring {
        active-color   "#98d782"
        inactive-color "#121410"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#98d782"
        inactive-color "#121410"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#98d782"
        inactive-color "#19520c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#98d78280"
    }
}

recent-windows {
    highlight {
        active-color "#98d782"
        urgent-color "#ffb4ab"
    }
}
